*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    background: red;
    min-height: 100vh;
}

.container {
    max-width: 80%;
    height: 210px;
    overflow-x: hidden;
}

.container .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 25px;
    object-fit: cover;
}

img {
    width: 250px;
    height: 180px;
    border-radius: 15px;
}

.scroll {
    background: #808080;
    opacity: 0.8;
    height: 3px;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.scrollbar {
    width: 22%;
    background: black;
    cursor: grab;
    height: 100%;
    border-radius: 20px;
}

.scroll > .scrollbar:hover {
    height: 4.5px;
}

i{
    position: relative;
}

.container > .fas {
    margin: 0;
    padding-top: 3.5px;
    background: rgb(14, 17, 14);
    color: #eff2f8;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container #prev {
    left: +55px;
}

.container #next {
    right: +53px;
}

.scroll > .scrollbar:active {
    cursor: grabbing;
}